// Colors
$primary: #00c27a;
$secondary: #ffc600; //yellow
$darkgreen: #00a47c; //Darker-green
$darkyellow: #ff9b00; //yellow-orange
$darkblue: #051a45;
$white: #fff;
$black: #000;

//Bootstrap-vue default variables
