// Colors
$primary: #004A6F;
//$primary: #006293;
$secondary: #FFD06F; //yellow
$menu-blue: #006293;
$blue: #0088CD;
$light-blue: #92b8cb;

$white: #fff;
$black: #000;

$grey: #BBBBBB;
$border-grey: #e7e7e7;
$light-grey: #eeeeee;

$red: #dc3545;

$hover-color: $primary;
$hover-background: $secondary;

//Bootstrap-vue default variables
$xsmall: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;
