.list-view {
  .row {
    > div {
      padding-top:10px;
      padding-bottom:10px;
      &.list-header {
        font-weight: bold;
        background: $light-grey;
        border-bottom: 2px solid $light-blue;
      }
    }
  }
}
