
body {
  background:$grey;
  font-family: "Lato", Helvetica, Arial;

  .main-content {
    max-width:1440px;
    margin:0px auto;
    background:$white;
    min-height:100vh;
  }
  .page-content {
    margin-top:76px;
    padding-top:10px;
    padding-bottom:100px;

    @media (min-width: $small) {
      padding-top:42px;
    }
    @media (min-width: $medium) {
      padding-top:30px;
      margin-top:88px;
    }
  }

  h1, h2, h3 {
    color:$primary;
  }

  .btn.disabled {
    opacity: 0.1;
  }

  .page-header {
    font-weight:normal;
    font-size:1.5em;
    line-height:1.2em;
    padding-bottom:10px;
    .object-name {
        display: inline-block;
        vertical-align: top;
        max-width: calc(100% - 190px);
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
    @media (min-width: $small) {
      font-size:2em;
      line-height:1.4em;
      padding-bottom:0px;
      .object-name {
        max-width: calc(100% - 250px);
      }
    }
  }

  .btn-primary {
    &:hover {
      color: $hover-color;
      background-color: $hover-background;
      border-color: $hover-background;
    }
  }

  .modal-footer {
    border-top-width:0px;
  }
  .modal-header {
    border-bottom-width:0px;
  }
}
