.navbar {
  background:$menu-blue;
  color:$white;
  z-index:1000;
  top:0px;
  position:absolute;
  padding:0px;
  width:100%;
  #navbarNavDropdown {
    position:relative;
    .navbar-right {
      border-right-width:0px;
      border-left-width:0px;
      @media (min-width: $medium) {
        position:absolute;
        right:0px;
      }
    }
  }
  .navbar-toggler {
    border:2px solid $white;
    color:$white;
    font-size:25px;
    &:focus {
      box-shadow:0 0 0 0px;
    }
  }
  .nav-item {
    display:inline-block;
    border-bottom:5px solid $menu-blue;
    min-width:140px;
    &.active,
    &:hover {
      border-bottom:5px solid $secondary;
    }
    &.active {
      background: $primary;
    }
    @media (min-width: $medium) {
      border-right:2px solid $blue;
      &:first-of-type {
        border-left:2px solid $blue;
      }
    }
  }
  a {
    color:$white;
    text-align:center;
    cursor:pointer;
    &:hover {
      color:$white;
    }
    &.navbar-brand {
      text-align:left;
      display:inline-block;
      height:76px;
      font-size:1px;
      text-indent:-100px;
      min-width:170px;
      background:url('/images/ldshapes-white.svg');
      background-size: auto 50%;
      background-repeat: no-repeat;
      background-position: left center;

      @media (min-width: $xsmall) {
        min-width:280px;
        background-size: auto 70%;
      }

    }
    span {
      font-size:25px;
      display:block;
      padding-bottom:5px;
    }
  }
}
